#sidenav-main {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

    #sidenav-main.show {
        transform: translateX(0);
    }

@media screen and (max-width: 1200px) {
    #sidenav-main {
        background-color: #eee;
    }
}

.rotate-45 {
    transform: rotate(-45deg);
}

.view {
    color: skyblue;
}

.mapButton:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Slightly opaque blue background */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
}

    .mapButton:hover .badge {
        color: #007bff; /* Change text color on hover */
    }
